
<div class="section">
<div class="nav_footer">
  <ul id="<%= @current_page %>_page">
    <li><%= link_to "about", about_path, :id => "about_nav" %></li>
    <li><%= nav_dot %></li>
    <li><%= link_to "philosophy", philosophy_path, :id => "philosophy_nav" %></li>
    <li><%= nav_dot %></li>
    <li><%= link_to "achievements", achievements_path, :id => "achievements_nav" %></li>
    <li><%= nav_dot %></li>
    <li><%= link_to "bio", bio_path, :id => "bio_nav" %></li>
    <li><%= nav_dot %></li>
    <li><%= link_to "motherhood", motherhood_path, :id => "motherhood_nav" %></li>
    <li><%= nav_dot %></li>
    <li><%= link_to "news & events", news_path, :id => "news_nav" %></li>
    <li><%= nav_dot %></li>
    <li><%= link_to "contact", contact_path, :id => "contact_nav" %></li>
    <li><%= nav_dot %></li>
    <li>
    <a href="http://www.facebook.com/pages/Be-Career-and-Transition-Coaching/114332608618327" target="_blank">
       facebook
    </a>
    </li>
    <li><%= nav_dot %></li>
    <li>
    <a href="http://leighmorrison.wordpress.com/" target="_blank">
       blog
    </a>
    </li>
    <li><%= nav_dot %></li>
    <li>
      &nbsp;<i><b>be</b></i> copywright 2011
    </li>
  </ul>
</div>
  <div class="developed_by">
    <div class="d_text">
    Website developed by <a href="http://www.eightacross.com" target="_blank">eightacross.com </a>
    </div>
    <a href="http://www.eightacross.com" target="_blank"><%= eightacross %></a>
  </div>
</div>