<div class="logo">
  <%= link_to logo, root_path %>
</div>
<div class="nav">
  <ul id="<%= @current_page %>_page">
    <li><%= link_to "HOME", root_path, :id => "home_nav" %></li>
    <li><%= link_to "ABOUT", about_path, :id => "about_nav" %></li>
    <li><%= link_to "BENEFITS", benefits_path, :id => "benefits_nav" %></li>
    <li><%= link_to "PHILOSOPHY", philosophy_path, :id => "philosophy_nav" %></li>
    <li><%= link_to "TESTIMONIALS", testimonials_path, :id => "testimonials_nav" %></li>
    <li><%= link_to "BIO", bio_path, :id => "bio_nav" %></li>
    <li><%= link_to "CONTACT", contact_path, :id => "contact_nav" %></li>
    <li><%= link_to "PREGNANCY", pregnancy_path, :id => "pregnancy_nav" %></li>
  </ul>
</div>
