<div class="logo">
  <%= link_to logo, root_path %>
</div>
<div class="nav">
  <ul id="<%= @current_page %>_page">
    <li><%= link_to "about", about_path, :id => "about_nav" %></li>
    <li><%= link_to "philosophy", philosophy_path, :id => "philosophy_nav" %></li>
    <li><%= link_to "achievements", achievements_path, :id => "achievements_nav" %></li>
    <li><%= link_to "bio", bio_path, :id => "bio_nav" %></li>
    <li><%= link_to "motherhood", motherhood_path, :id => "motherhood_nav" %></li>
    <li><%= link_to "news & events", news_path, :id => "news_nav" %></li>
    <li><%= link_to "contact", contact_path, :id => "contact_nav" %></li>
    
    <li>
    <a href="http://www.facebook.com/pages/Be-Career-and-Transition-Coaching/114332608618327" target="_blank">
                <img src="/images/nav_fb.jpg" class="nav-img" alt="facebook be"/>
    </a>
    </li>
    <li>
    <a href="http://leighmorrison.wordpress.com/" target="_blank">
                <img src="/images/nav_blog.jpg" class="nav-img" alt="be blog"/>
    </a>
    </li>
  </ul>
</div>
