<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <link rel="icon" type="image/x-icon" href="http://1.gravatar.com/blavatar/f7e49e46a4c5c7d4df357f58d7bf769c?s=16" sizes="16x16" />
  </head>
  <body>
    <!-- BACKGROUND FOR EXPANDABLE HEADER -->
    <div class="header">
      <div class="container">
        <%= render 'layouts/header' %>
      </div>
    </div>
    <div class="main">
      <!-- CENTER CONTENT -->
      <div class="container">
        <section>
          <%= yield %>
        </section>
      </div>
    </div>
    <!--CLEAR FOOTER TO PREVENT BUNCHING-->
    <div class="clear"></div>
    <div class="footer">
      <div class="container">
        <%= render 'layouts/footer' %>
      </div>
    </div>
  </body>
</html>